.bg-header__opacity::before {
    content: "";
    background: url('/Background-DAE.svg') no-repeat center right;
    @apply bg-cover;
    opacity: 0.85;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}